<!DOCTYPE html>
<html>
<head>
  <title>尋云手語社資訊網</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<% if notice != nil %><p class="notice" style="display: none;"><%= notice %></p><% end %>
<% if alert != nil %><p class="alert" style="display: none;"><%= alert %></p><% end %>
<div class="container">
  <%= yield %>
</div>
<div class="loading" style="display: none;">
  <div class="spinner"></div>
</div>
</body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '505176619634082',
      xfbml      : true,
      version    : 'v3.2'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</html>
