<!DOCTYPE html>
<html>
<head>
  <title>尋云手語社資訊網</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<% if notice != nil %><p class="notice" style="display: none;"><%= notice %></p><% end %>
<% if alert != nil %><p class="alert" style="display: none;"><%= alert %></p><% end %>

<%= yield %>

</body>
</html>
