<div class="sub_container">  
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">編輯個人資料</a></li>
    <li><a href="#">我的師徒關係</a></li>
    <li><a href="#">我的老人聯絡網</a></li>
  </ul>

  <div id="member_title_field">
    <h4><%= @member.grade.to_s + ' ' + @member.name %></h4>
  </div>

  <div id="member_update_contact_field" class="field field-0">
    <h4>修改聯絡資料：</h4>
    <h4>part1. 想被通知的活動</h4>
    <div class="checkbox">
      <label class="checkbox-inline">
        <input type="checkbox" value="10000" class="activity_option checkbox disable_all"<%= " checked=\"checked\"" if @contact_comment.all_activities == true  %>>全部都要
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="0" class="activity_option checkbox disable_all"<%= " checked=\"checked\"" if @contact_comment.none_activities == true  %>>全部不要
      </label>
    </div>
    <% i = 0 %>
    <% @all_activities.each do |activity| %>
      <% if i == 0 %>
        <div class="checkbox">
      <% elsif i % 5 == 0 %>
        </div>
        <div class="checkbox">
        <% i == 0 %>
      <% end %>
      <label class="checkbox-inline">
        <input type="checkbox" class="activity_option checkbox" value="<%= activity.id %>" <%= " checked=\"checked\"" if @user_activities.any? {|x| x.id == activity.id} %>><%= activity.name %>
      </label>
      <% i = i + 1 %>
    <% end %>
    <% if i > 0 %>
    </div>
    <% end %>
    <input id="activity_comment" type="text" placeholder="附註" class="form-control" value="<%= @contact_comment.activity_comment if @contact_comment.activity_comment != nil %>">
    <h4>part2. 想被通知的方式</h4>
    <% i = 0 %>
    <% @all_contacts.each do |contact| %>
      <% if i == 0 %>
        <div class="checkbox">
      <% elsif i % 5 == 0 %>
        </div>
        <div class="checkbox">
        <% i == 0 %>
      <% end %>
      <label class="checkbox-inline">
        <input type="checkbox" class="contact checkbox" value="<%= contact.id %>" <%= " checked=\"checked\"" if @user_contacts.any? {|x| x.id == contact.id} %>><%= contact.name %>
      </label>
      <% i = i + 1 %>
    <% end %>
    <% if i > 0 %>
    </div>
    <% end %>
    <input id="contact_comment" type="text" placeholder="附註" class="form-control" value="<%= @contact_comment.contact_comment if @contact_comment.contact_comment != nil %>">
    <button class="submit btn">上傳</button>
  </div>

  <div id="member_update_relation_field" class="field field-1">
    <h4>修改師徒關係：</h4>
    <%= render "filter_members" %>
    <select class="relation_type_select form-control">
      <option value="0"> 無關係 </option>
      <option value="1"> 正師徒 </option>
      <option value="2"> 地師徒 </option>
    </select>
    <button class="submit btn">上傳</button>
  </div>

  <div id="member_follow_field" class="field field-2">
    <h4>我追蹤的社員：</h4>
    <%= render "filter_members" %>
    <button class="submit btn">上傳</button>
    <% @follows.each do |follow| %>
      <% if follow.user.nil? %>
        <div class="panel panel-default">
          <div class="panel-heading"><%= follow.grade.to_s + " " + follow.name + ":" %> 此社員未註冊</div>
        </div>
      <% elsif follow.contact_comment.all_activities %>
        <div class="panel panel-success">
          <div class="panel-heading"><%= follow.grade.to_s + " " + follow.name + ":" %> 希望得到所有活動資訊</div>
        </div>
      <% elsif follow.contact_comment.none_activities %>
        <div class="panel panel-danger">
          <div class="panel-heading"><%= follow.grade.to_s + " " + follow.name + ":" %> 希望不要聯繫</div>
        </div>
      <% else %>
        <div class="panel panel-primary">
          <div class="panel-heading"><%= follow.grade.to_s + " " + follow.name + ":" %> 希望得到特定活動資訊</div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
