<% if @no_await_register %>
  <h4>請建立一個您的社員身份，如果已經存在，請直接選擇，否則請建立一個新的社員身份：</h4>
  <div id="register_exist_member_field">
    <h4>尋找已經存在的社員：</h4>
    <%= render "filter_members" %>
    <button class="submit">登記為此社員</button>
  </div>
  <div id="register_new_member_field">
    <h4>建立一個新的社員：</h4>
    <%= text_field_tag "grade" %>
    <%= text_field_tag "name" %>
    <button class="submit">建立並登記為此社員</button>
  </div>
<% else %>
  <h4>您已經有一份社員申請正在等待管理員核可中</h4>
<% end %>

<% if @member_registers != nil && @member_registers.length > 0 %>
  <div>
    <h4>您的註冊紀錄：</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>級別</th>
          <th>姓名</th>
          <th>建立新社員/登記為已存在社員</th>
          <th>註冊時間</th>
          <th>目前狀態</th>
        </tr>
      </thead>
      <tbody>
        <% @member_registers.each { |register| %>
          <% user = register.user %>
          <% member = Member.find(register.member_id) if register.member_id != nil %>
          <tr>
            <td><%= member.nil? ? register.grade : member.grade %></td>
            <td><%= member.nil? ? register.name : member.name %></td>
            <td><%= member.nil? ? "建立新社員" : "登記為既有社員" %></td>
            <td><%= register.created_at.strftime("%Y/%d/%m %H:%M") %></td>
            <td>
              <% if register.is_accept.nil? %>
                等待處理
              <% elsif register.is_accept? %>
                被接受
              <% else %>
                被否決
              <% end %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
<% end %>
